[submodule "build/libraries/ionicons"]
	path = build/libraries/ionicons
	url = https://github.com/ionic-team/ionicons
[submodule "build/libraries/iconoir"]
	path = build/libraries/iconoir
	url = https://github.com/iconoir-icons/iconoir
[submodule "build/libraries/MaterialDesign"]
	path = build/libraries/MaterialDesign
	url = https://github.com/Templarian/MaterialDesign
[submodule "build/libraries/simple-icons"]
	path = build/libraries/simple-icons
	url = https://github.com/simple-icons/simple-icons
